extends layout

block content
    h1= title
    div.newemployee
        form( method="post")
            div
                div
                    span.label :שם
                    select(name="name")
                        - each name in names
                            option(value="#{name}") #{name}
                div
                    span.label :שעת יציאה
                    input(type="time", name="left", id="editEmployeeLeftTime")
                div
                    span.label :שעת חזרה
                    input(type="time", name="comeback", id="editEmployeeComeBack")
                div
                    span.label :לאן
                    input(type="text", name="where", id="editEmployeeLeftWhere")
                div
                    span.label :מצלמה
                    input(type="checkbox", name="camera", id="editEmployeeCamera")
                div
                    span.label :ליזר
                    input(type="checkbox", name="laser", id="editEmployeeLaser")
                div
                    span.label :רכב
                    select(name="car")
                        - each car in cars
                            option(value="#{car}") #{car}
                div#editEmployeeSubmit
                    input(id="round",type="submit", value="שמור")
        a(href="/")!= "Back to Employee List"